<div class="container mt-3" id="nav">
	<ul class="nav nav-tabs">
		<li class="nav-item">
		  <a class="nav-link active" data-toggle="tab" href="#Home">Home</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" data-toggle="tab" href="#Donor">Donor</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" data-toggle="tab" href="#Donee">Donee</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" data-toggle="tab" href="#Admin">Admin</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" data-toggle="tab" href="#Report">Report</a>
		</li>
	 </ul>
  </div>