
<div class="container">
	<br/>
	<b class="text-info" style="font-family:Times New Roman;font-size:30px">Donor Registration</b>
	<br/><br/>
	<div align="right">
		<div class="row">
			<div class="col-md-1"><label>Email</label></div>
			<div class="col-md-4"><input [(ngModel)]="email" class="form-control"  name="email"></div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>Group</label></div>
			<div class="col-md-4">
				<select class="form-control" name="group" [(ngModel)]="grp">
					<option *ngFor="let b of Bg" value={{b}} >{{b}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>Number 1</label></div>
			<div class="col-md-4"><input [(ngModel)]="num1" class="form-control"  name="num1"></div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>Number 2</label></div>
			<div class="col-md-4"><input [(ngModel)]="num2" class="form-control"  name="num2"></div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>Country</label></div>
			<div class="col-md-4">
				<select class="form-control" name="country" [(ngModel)]="count">
					<option value="India">India</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>State</label></div>
			<div class="col-md-4">
				<select class="form-control" name="state" [(ngModel)]="stat" (change)="onSelectState($event.target.value)" >
					<option *ngFor="let state of states" value= {{state.name}}>{{state.name}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>District</label></div>
			<div class="col-md-4">
				<select class="form-control" [(ngModel)]="dist" *ngIf="districts" (change)="onSelectDistrict($event.target.value)">
					<option *ngFor="let district of districts" value= {{district.id}}>{{district.name}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>City</label></div>
			<div class="col-md-4">
				<select class="form-control" name="city" [(ngModel)]="city">
					<option *ngFor="let c of cities" value={{c.id}}>{{c.name}}</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>Available</label></div>
			<div class="col-md-4">
				<select class="form-control" name="available" [(ngModel)]="avail">
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>
		</div>
		<div class="row">
			<div class="col-md-1"><label>Plasma Donor</label></div>
			<div class="col-md-4">
				<select class="form-control" name="plasma" [(ngModel)]="plasma">
					<option value="yes">Yes</option>
					<option value="no">No</option>
				</select>
			</div>
		</div>
		<div class="row" align="center">
			<div class="col-md-6"><input (click)="donor_click()" class="btn btn-danger" type="button" value="Submit"></div>
		</div>
		<br/>
	</div>
	

</div>
