
<div class="form-group" id="Sign">
	<b class="text-info" style="font-family:Times New Roman;font-size:30px">Sign Up</b>
	<br/>
	<div align="center">
	<div>
			<label>Name</label>
			<input [(ngModel)]="name" name="name" class="form-control">
		</div>
		<div>
			<label>Email</label>
			<input [(ngModel)]="email" name="email" class="form-control">
		</div>
		<div>
			<label>Password</label>
			<input [(ngModel)]="pass" type="password" name="password" class="form-control">
		</div>
		<br/>
		<input (click)="signup_click()" class="btn btn-danger" type="button" value="Sign Up">
	<div>
	
	<br/>
</div>
